<div class="dash-boards">
<h1>Dash Boards</h1>
<h2><%=current_user.name %></h2>

  <%=link_to "編集", edit_user_registration_path, class:"btn btn-primary btn-edit" %><br />
  <%=link_to "ログアウト", logout_path, class:"btn btn-warning btn-logout" %>


