@import "~bootstrap/scss/bootstrap.scss";

// usersページ //
.actions{
  text-align:center;
}

.btn-login{
  margin:20px 0px;
}


.btn-edit{
  margin-bottom:0px;
  width:150px
}

.btn-logout{
  margin-top:0px;
  width:150px;
}

.account-delete{
  text-align:center;
}

// フラッシュメッセージ //
.alert-notice{
  text-align:center;
  color:#31708f;
  background-color:#d9edf7;
}

.alert-alert{
  text-align:center;
  color:#a94442;
  background-color:#f2dede;
}
